.card{
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
    cursor: pointer;
}

.icon{
    margin: 1rem 0 0 1rem;
    font-size: 64px;
    color: var(--primary-main);
}

.card:hover{
    box-shadow: 0 0 26px 6px var(--primary-main) !important;
    transform: translateY(-10px);
}